* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px; }

.header__search {
  margin-left: 37px;
  margin-right: auto; }

.header__trash {
  margin-right: 16px;
  margin-left: auto;
  padding: 10px; }

.header__account-btn {
  background-color: #f16d7f;
  border: 1px solid transparent;
  padding: 12px 19px;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.38px;
  line-height: 23px;
  text-align: right;
  cursor: pointer;
  display: block; }
  .header__account-btn:hover {
    transition: 0.5s;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    color: #222222; }

.search-form {
  display: flex;
  align-items: center; }

.search-form__browse {
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 14px 26px 14px 15px; }

.search-form__browse p {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 17px; }

.search-form__form {
  background-color: #ffffff;
  display: flex;
  align-items: center; }

.search-form__input {
  width: 280px;
  padding: 14px 16px;
  border: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #a4a4a4;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.35px; }
  .search-form__input:focus {
    outline: none; }

.search-form__btn {
  padding: 14px 11px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff; }

.nav {
  display: flex;
  justify-content: center;
  background-color: white; }

.nav__list {
  width: 680px;
  display: flex;
  justify-content: space-between;
  position: relative; }

.nav__link {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 50px;
  text-align: left;
  text-transform: uppercase;
  padding: 0 5px;
  position: relative; }
  .nav__link:after {
    display: none;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    z-index: 99;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
    background-color: #fff; }

.nav__item:hover .menu {
  display: flex; }

.nav__item:hover .nav__link:after {
  display: block; }

.nav__menu {
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99; }

.promo {
  background-color: #e8e8e8;
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: center 100%; }

.promo__wrapper {
  padding-top: 230px;
  padding-bottom: 297px; }

.promo__nav {
  border-top: 1px solid #ececec; }

.promo__text {
  width: 50%;
  display: flex;
  align-items: center; }
  .promo__text:before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    margin-right: 12px; }

.promo__title {
  color: #222222;
  font-family: "Lato - Black";
  font-weight: 400;
  font-style: normal;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 1.5px; }

.promo__subtitle {
  font-size: 40px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 40px; }
  .promo__subtitle span {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal; }

.hot__wrapper {
  padding-top: 98px;
  padding-bottom: 100px; }

.hot__list {
  display: flex;
  flex-direction: row;
  gap: 21px; }

.hot__items {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 21px; }
  .hot__items--right {
    flex-direction: column-reverse; }

.hot__text-wrap {
  display: block;
  padding: 16px 18px;
  background-color: white;
  width: fit-content; }

.hot__text {
  color: #222222;
  font-family: "Lato - Black";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  display: flex;
  flex-direction: column; }
  .hot__text span {
    color: #f16d7f;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal; }

.hot__item {
  padding-top: 21px;
  cursor: pointer; }

.hot__item:nth-child(1) {
  width: 560px;
  height: 542px; }

.hot__item:nth-child(2) {
  width: 560px;
  height: 261px; }

.hot__items--left .hot__item:nth-child(1) {
  background-image: url("../img/hot-item-1.jpg");
  background-repeat: no-repeat;
  background-position: center 100%; }

.hot__items--left .hot__item:nth-child(2) {
  background-image: url("../img/hot-item-2.jpg");
  background-repeat: no-repeat;
  background-position: center 100%; }

.hot__items--right .hot__item:nth-child(1) {
  background-image: url("../img/hot-item-4.jpg");
  background-repeat: no-repeat;
  background-position: center 100%; }

.hot__items--right .hot__item:nth-child(2) {
  background-image: url("../img/hot-item-3.jpg");
  background-repeat: no-repeat;
  background-position: center 100%; }

.fetured__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.fetured__title {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: normal; }

.fetured__subtitle {
  margin-top: 16px;
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.35px;
  line-height: normal; }

.fetured__list {
  margin-top: 59px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px; }

.fetured__item {
  width: 22%; }

.fetured__link {
  margin-top: 39px;
  background-color: #f16d7f;
  padding: 18px 25px;
  border: 1px solid transparent; }
  .fetured__link:hover {
    transition: 0.3s;
    background-color: #ffffff;
    border: 1px solid #f16d7f; }
    .fetured__link:hover p {
      color: #222222; }

.fetured__link p {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px; }

.card:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff; }
  .card:hover .card__pict {
    filter: brightness(50%); }
  .card:hover .card__btn {
    display: flex; }

.card__img {
  position: relative;
  display: block; }

.card__btn {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 12px;
  border: 1px solid #ffffff;
  background-color: transparent;
  display: none;
  align-items: center;
  cursor: pointer; }
  .card__btn:hover {
    box-shadow: 0px 0px 8px white; }
  .card__btn:focus {
    transition: 0.3s;
    background-color: #f16d7f;
    border: 1px solid #fff; }

.card__btn-text {
  margin-left: 8px; }

.card__pict {
  width: 100%; }

.card__text {
  padding: 19px 14px; }

.card__title {
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  text-align: left; }

.card__price {
  margin-top: 17px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase; }

.advantages--products {
  background-color: #222224; }

.advantages__wrapper {
  padding-top: 113px;
  padding-bottom: 97px; }
  .advantages__wrapper--products {
    padding-top: 89px;
    padding-bottom: 114px; }

.advantages__wrap {
  display: flex;
  flex-direction: row;
  align-items: center; }

.advantages__sale {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 67%;
  height: 529px;
  padding-top: 146px;
  padding-left: 39px; }

.advantages__text {
  width: 296px;
  color: #ffffff;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
  font-style: normal;
  line-height: 54px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.9px; }
  .advantages__text--color {
    color: #f16d7f; }
  .advantages__text--size {
    font-size: 32px;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: 32px; }

.advantages__content {
  width: 33%;
  background-color: #222224; }
  .advantages__content--products {
    width: 100%; }

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 43px 48px 36px; }
  .advantages__list--products {
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    align-items: center; }

.advantages__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .advantages__item:not(:last-child) {
    margin-bottom: 47px; }
  .advantages__item--products {
    flex-direction: column;
    align-items: center;
    width: 30%; }
    .advantages__item--products:not(:last-child) {
      margin-bottom: 0; }

.advantages__item-text {
  margin-left: 33px; }
  .advantages__item-text--products {
    margin: 32px 0 0; }

.advantages__title {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
  letter-spacing: 0.5px; }
  .advantages__title--products {
    text-align: center; }

.advantages__subtitle {
  margin-top: 17px;
  width: 220px;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.35px; }
  .advantages__subtitle--products {
    text-align: center;
    width: 100%; }

.feedback {
  background-image: url("../img/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.feedback__wrapper {
  position: relative;
  padding-top: 111px;
  padding-bottom: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.review {
  display: flex;
  flex-direction: row; }

.review__button {
  padding: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent; }

.review__button-link {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6; }
  .review__button-link--active {
    background-color: #f16d7f; }

.review__wrap {
  width: 386px;
  margin-left: 28px;
  margin-top: 12px; }

.review__text {
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.4px; }

.review__name {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  color: #222224;
  font-family: Lato;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.3px;
  line-height: 14px; }
  .review__name span {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 26px;
    color: #f16d7f; }

.review__buttons {
  margin-top: 31px; }

.subscribe__title {
  color: #222224;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase; }

.subscribe__subtitle {
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 24px;
  font-size: 14px;
  text-align: center; }

.subscribe__form {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.subscribe__input {
  width: 282px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border: none;
  padding: 18px 20px;
  outline: none;
  background-color: #e1e1e1; }
  .subscribe__input:hover, .subscribe__input:focus {
    background-color: #cacaca; }

.subscribe__button {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border: none;
  padding: 18px 28px;
  background-color: #f16d7f;
  cursor: pointer;
  border: 1px solid transparent; }
  .subscribe__button:hover {
    transition: 0.2s;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    color: #222222; }

.footer__base {
  margin-top: 109px;
  margin-bottom: 89px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 64px; }

.footer__about {
  width: 40%;
  max-width: 427px; }

.footer__text {
  margin-top: 29px; }

.footer__text-item {
  margin-top: 34px; }

.footer__nav {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer__nav-title {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px; }

.footer__nav-list {
  margin-top: 45px; }

.footer__nav-item:not(:nth-of-type(1)) {
  margin-top: 25px; }

.footer__nav-item a {
  color: #898989;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.4px;
  width: 100%;
  display: inline-block;
  padding: 2px 0; }

.social {
  background-color: #e6e6e6; }

.social__wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social__links {
  display: flex; }

.social__item {
  width: 32px;
  height: 32px;
  background-color: #fff; }
  .social__item:hover {
    transition: 0.5s;
    background-color: #f16d7f; }
    .social__item:hover .social__link {
      color: #fff; }

.social__item:not(:nth-of-type(1)) {
  margin-left: 8px; }

.social__link {
  width: 100%;
  height: 100%;
  color: #b2b2b2;
  display: flex;
  justify-content: center;
  align-items: center; }

.social__copy {
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 42px;
  text-align: right;
  letter-spacing: 0.4px; }

.menu {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 21px 25px;
  border: 1px solid #e6e6e6;
  display: none; }

.menu__list {
  display: flex;
  flex-direction: column; }

.menu__list:not(:nth-of-type(1)) {
  margin-left: 46px; }

.menu__title {
  width: 235px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase; }

.menu__item {
  display: block;
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.35px; }
  .menu__item:hover {
    color: #f16d7f; }

.breadcrumb {
  background-color: #f8f3f4; }

.breadcrumb__wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between; }

.breadcrumb__list {
  display: flex;
  align-items: center;
  flex-direction: row; }

.breadcrumb__section {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #636363; }
  .breadcrumb__section--active {
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #f16d7f; }

.breadcrumb__divider {
  margin: 0 6px 0 3px; }

.offer__wrapper {
  padding-top: 119px;
  padding-bottom: 73px; }

.offer__title {
  color: #4d4d4d;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase; }

.offer__list {
  margin: 0 auto;
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; }

.product__wrapper {
  padding-top: 11px;
  padding-bottom: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.product__carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.product__button {
  padding: 17px 20px;
  background-color: #d8d8d8;
  border: none;
  outline: none;
  cursor: pointer; }

.fa-chevron-right,
.fa-chevron-left {
  color: white; }

.product__description {
  border: 1px solid #eaeaea;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1141px; }

.product__divider {
  margin-top: 14px;
  width: 150px;
  height: 1px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center; }
  .product__divider:after {
    content: "";
    display: block;
    width: 40%;
    height: 3px;
    background-color: #ef5b70; }

.product__section {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.product__title {
  margin-top: 17px;
  color: #4d4d4d;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: normal; }

.product__text {
  margin-top: 67px;
  width: 618px;
  color: #5e5e5e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center; }

.product__descr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50%;
  margin-top: 28px; }

.product__descr-item {
  color: #b9b9b9;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.product__descr-span {
  color: #2f2f2f;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal; }

.product__price {
  margin-top: 37px;
  color: #ef5b70;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center; }

.product__choose {
  width: 65%;
  padding: 63px 53px;
  margin-top: 43px;
  border-top: 1px solid #eaeaea; }

.form-add {
  width: 537px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form-add__fieldset {
  display: flex;
  flex-direction: row;
  border: none;
  gap: 53px; }

.form-add__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%;
  color: #2f2f2f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.form-add__input {
  width: 100%;
  margin-top: 16px;
  padding: 12px 20px;
  outline: none; }

.form-add__btn {
  cursor: pointer;
  margin-top: 28px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  display: flex;
  justify-content: center;
  padding: 15px; }
  .form-add__btn:hover {
    box-shadow: 0px 0px 8px #9d6e74; }
  .form-add__btn:active {
    transition: 0.3s;
    background-color: #f16d7f;
    color: #fff; }
    .form-add__btn:active .form-add__svg {
      transition: 0.3s;
      fill: #fff; }

.form-add__svg {
  fill: #f16d7f; }

.products__wrapper {
  padding-top: 59px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2; }

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  gap: 30px; }

.products__ware {
  display: flex;
  justify-content: flex-end; }

.products__item {
  width: 30%; }

.products__footer {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff; }
  .products__button p {
    padding: 16px 45px;
    color: #ef5b70;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    text-align: left; }
  .products__button:hover {
    transition: 0.3s;
    background-color: #f16d7f;
    border: 1px solid #fff; }
    .products__button:hover p {
      color: #ffffff; }

.option {
  display: flex;
  flex-direction: column; }

.option__box {
  display: none;
  flex-direction: column;
  margin-left: 22px; }

.option__item {
  width: 243px; }
  .option__item:not(:nth-of-type(1)) {
    margin-top: 18px; }
  .option__item:hover .option__box {
    display: flex; }
  .option__item:hover .fa-caret-down {
    color: #ef5b70; }

.option__title {
  color: #ef5b70;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  padding: 13px 11px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }

.fa-caret-down {
  color: #6f6e6e; }

.fa-caret-up {
  color: #ef5b70; }

.option__link {
  margin-top: 5px;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: left; }
  .option__link:hover {
    color: #ef5b70; }

/*# sourceMappingURL=style.css.map */
