.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__search {
  margin-left: 37px;
  margin-right: auto;
}

.header__trash {
  margin-right: 16px;
  margin-left: auto;
  padding: 10px;
}

.header__account-btn {
  background-color: #f16d7f;
  border: 1px solid transparent;
  padding: 12px 19px;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.38px;
  line-height: 23px;
  text-align: right;
  cursor: pointer;
  display: block;

  &:hover {
    transition: 0.5s;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    color: #222222;
  }
}
