.nav {
  display: flex;
  justify-content: center;
  background-color: white;
}

.nav__list {
  width: 680px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__link {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 50px;
  text-align: left;
  text-transform: uppercase;
  padding: 0 5px;
  position: relative;

  &:after {
    display: none;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    z-index: 99;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%) rotateZ( 45deg );
    background-color: #fff;
  }
}

.nav__item {
  &:hover {
    .menu {
      display: flex;
    }
    .nav__link:after{
      display: block;
    }
  }
}

.nav__menu {
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
}

