.subscribe__title {
  color: #222224;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
}

.subscribe__subtitle {
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}

.subscribe__form {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribe__input {
  width: 282px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border: none;
  padding: 18px 20px;
  outline: none;
  background-color: #e1e1e1;

  &:hover,
  &:focus {
    background-color: #cacaca;
  }
}

.subscribe__button {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border: none;
  padding: 18px 28px;
  background-color: #f16d7f;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    transition: 0.2s;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    color: #222222;
  }
}